<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addTable" method="post">
        name:
        <input type="text" name="name" placeholder="Name">
        color:
        <input type="text" name="color" placeholder="Color">
        pic url:
        <input type="text" name="url" placeholder="URL">
        amount:
        <input type="number" name="amount" placeholder="Amount">
        price:
        <input type="number" name="price" placeholder="Price">
        matter:
        <input type="text" name="matter" placeholder="Matter">
        size:
        <input type="text" name="size" placeholder="Size">
        </form>
</body>
</html>