<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/deleteObject" method="post">
        name:
        <input type="text" name="name" placeholder="Name">
        type of furniture:
        <select name="category">
            <option value="chair">Chair</option>
            <option value="couch">Couch</option>
            <option value="bed">Bed</option>
            <option value="mirror">Mirror</option>
            <option value="rug">Rug</option>
            <option value="table">Table</option>
        </select>
        <input type="submit">
</body>
</html>