<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My EJS Page</title>
    <link rel="stylesheet"  href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="main">
    
    <div class="logo">
        <img src="logo.png">
    </div>
    <div class="navbar">
        <div class="menu">
            <ul>
                <% if (alertMessage) { %>    
                <li> <%= alertMessage %>  </li>
                  <% } %>
                <li> <a href=""> LIVING </a></li>
                <li> <a href="#"> DINING </a></li>
                <li> <a href="addChair"> BED </a></li>
                <li> <a href="#"> RUGS </a></li>
                <li> <a href="#"> DECOR </a></li>
                <li> <a href="#"> SALE </a></li>
               
            </ul>
        </div>
        <div class="search">
            <input class="srch" type="search" name="" placeholder="Type to search">
            <button class="btn-sr">Search</button>
            <div class="param-group">
              <select class="srch-param" name="category">
                <option value="">category</option>
                <option value="beds">beds</option>
                <option value="sofas">sofas</option>
                <option value="tables">tables</option>
                <option value="mirrors">mirrors</option>
                <option value="chairs">chairs</option>
                <option value="rugs">rugs</option>
            </select>
            <select class="srch-param" name="MATERIAL">
                <option value="">material</option>
                <option value="Solid Wood">Solid Wood</option>
                <option value="Iron">Iron</option>
                <option value="Glass">Glass</option>
                <option value="Marble">Marble</option>
                <option value="Leather">Leather</option>
                <option value="Fabric">Fabric</option>
            </select>
            <select class="srch-param" name="COLOR">
                <option value="">color</option>
                <option value="white">white</option>
                <option value="black">black</option>
                <option value="brown">brown</option>
                <option value="beige">beige</option>
                <option value="grey">grey</option>
                <option value="green">red</option>
            </select>
            <select class="srch-param" name="SIZE">
                <option value="">size</option>
                <optgroup label="width">
                    <option value="50cm">up to 50cm</option>
                    <option value="100cm">up to 100cm</option>
                    <option value="150cm">up to 150cm</option>
                </optgroup>
                <optgroup label="height">
                    <option value="50cm">up to 50cm</option>
                    <option value="100cm">up to 100cm</option>
                    <option value="150cm">up to 150cm</option>
                </optgroup>
                <optgroup label="depth">
                    <option value="50cm">up to 50cm</option>
                    <option value="100cm">up to 100cm</option>
                    <option value="150cm">up to 150cm</option>
                </optgroup>
            </select>
            </div>
        </div>
    </div>

    <div class="content">
        <h1> Furniture <br> <span> Design </span><br> Studio</h1>
        <br></br>
        <p class="par"> UNRIVALED DESIGN. UNCOMPROMISING QUALITY.<br> UNLIMITED POSSIBILITIES. WE’VE PARTNERED WITH <br> ACCLAIMED DESIGNERS FROM AROUND THE WORLD <br> TO CREATE EXCLUSIVE FURNITURE COLLECTIONS UNSURPASSED<br> IN FORM, FUNCTION AND BEAUTY. EXPERIENCE INSPIRED <br> OUTDOOR FURNISHINGS FOR EVERY SPACE, EVERY ENVIRONMENT.</br></p>
        <button class="cn"><a href="#"> SIGN IN</a></button>
        <button class="btn-my-account"><i class="fas fa-user"></i></button>
        <button class="btn-Shopping-Cart"><i class="fas fa-shopping-cart"></i> </button>
    </div>
    
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>


