<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/login.css">
    <title>Document</title>
</head>
<body>
    <h2>Log In</h2>
    
    <form action="/login" method="post">
    
    <form action="/login" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
    </form>
    <p class="link"> D'ont have an account? <br>
    <a href="/signup">Sign Up </a>
    <div class="form">
        <img src="/logo.png">   
        
        <p class="liw">  Sign in with </p> 
            <div class="icon"> 
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-skype"> </ion-icon></a>
            </div> 
    
    </div>
    
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    
</body>
</html>



