<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>איזור אישי ללקוח</title>
  <link rel="stylesheet" href="myAccount.css">
</head>
<body>
  <%- include('home.ejs') %>
  <div class="container">
    <h1>Hey name! </h1>
    
    <div class="order-history">
      <button>View Order History</button>
    </div>
    
    <div class="favorites">
     
      <button>View Wishlist</button>
    </div>
    
    <div class="account-details">
      
      <button>View Account Information</button>
    </div>
    
    <p><a href="#">SIGN OUT</a></p>
  </div>
</body>
</html>
